.App {
  text-align: center;
}
.App-body {
  padding: 10px;
}
.field-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  font-size: calc(10px + 1vmin);
}
.field-block > * {
  width: 100%;
  line-height: 2rem;
  padding: 0px 2px;
  text-align: left;
}

.antd-input {
  padding: 0 4px !important;
}

.ant-list-item h4 {
  margin-top: 0px;
}

.red-text {
  color: #fa4873;
}

.yellow-text {
  color: #ffba47;
}

.green-text {
  color: #1fd77c;
}

.result-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
